# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Build and output directories
workdir/
output/
cache/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv
env/
venv/
